<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{template "head.html" .}}
<script type="text/javascript" src="/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.alerts.js"></script>
<script type="text/javascript" src="/js/custom/tasklist.js"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    {{template "topheader.html" .}} 
    {{template "header.html" .}} 
    {{template "leftmenu.html" .}} 
    <div class="centercontent tables">
    
        <div class="pageheader notab">
            <h1 class="pagetitle">{{.Data.title}}</h1>
            <span class="pagedesc">{{.Data.title}}</span>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
                        
                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0">ID</th>
                            <th class="head1">任务标识</th>
                            <th class="head0">任务名</th>
                            <th class="head1">Review负责人</th>
                            <th class="head0">当前Review人员</th>
                            <th class="head1">测试人员</th>
                            <th class="head0">开发项目</th>
                            <th class="head1">任务描述</th>
                            <th class="head0">状态</th>
                            <th class="head1">&nbsp;</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan=10>
                                <ul class="pagination" style="float:right">
                                    <li class="first"><a href="/task?page=1"{{if eq .Data.page 1}} class="disable"{{end}}>&laquo;</a></li>
                                    <li class="previous"><a href="/task?page={{.Data.prePage}}"{{if eq .Data.page 1}} class="disable"{{end}}>&lsaquo;</a></li>
                                    {{if gt .Data.prePage 0}}
                                    <li><a href="/task?page={{.Data.prePage}}">{{.Data.prePage}}</a></li>
                                    {{end}}
                                    <li><a href="/task?page={{.Data.page}}" class="current">{{.Data.page}}</a></li>
                                    {{if le .Data.nextPage .Data.total}}
                                    <li><a href="/task?page={{.Data.nextPage}}">{{.Data.nextPage}}</a></li>
                                    {{end}}
                                    <li class="next"><a href="/task?page={{.Data.nextPage}}"{{if eq .Data.page .Data.total}} class="disable"{{end}}>&rsaquo;</a></li>
                                    <li class="last"><a href="/task?page={{.Data.total}}"{{if eq .Data.page .Data.total}} class="disable"{{end}}>&raquo;</a></li>
                                </ul>
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{range $k,$v := .Data.tasks}}
                        <tr>
                            <td>{{$v.Id}}</td>
                            <td><a href="/task/detail?id={{$v.Id}}" title="branch_{{$v.Branch}}">{{$v.Code}}</a></td>
                            <td>{{$v.Name}}</td>
                            <td>
                                {{range $key, $val := $v.TaskReviews}}
                                {{$val.User.Realname}}&nbsp;<br />
                                {{end}}
                            </td>
                            <td>
                                {{if gt $v.ReviewUserId 0}}
                                {{$v.ReviewUser.Realname}}
                                {{end}}
                            </td>
                            <td>
                                {{if gt $v.TestUserId 0}}
                                {{$v.TestUser.Realname}}
                                {{end}}
                            </td>
                            <td>
                                {{range $key, $val := $v.TaskProjectes}}
                                {{$val.Project.Name}}<br />
                                {{end}}
                            </td>
                            <td class="center">{{$v.Comment}}</td>
                            <td class="center">{{index $.Data.taskStatus $v.Status}}</td>
                            <td style="width:145px" class="center">
                                {{if lt $v.Status 20}}
                                <button value="{{$v.Id}}" class="toReview stdbtn btn_yellow">提交Review</button>&nbsp;&nbsp;
                                {{end}}
                                {{if lt $v.Status 20}}
                                <button value="{{$v.Id}}" class="delete stdbtn btn_red">删除</button>
                                {{end}}
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
